<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * TurnTo_SocialCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2018 TurnTo Networks, Inc.
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <turnto_socialcommerce_configuration>
            <general>
                <enabled>0</enabled>
                <image_store_base>http://wac.edgecastcdn.net/001A39/prod</image_store_base>
                <use_child_sku>0</use_child_sku>
            </general>
            <product_attribute_mappings>
                <upc_attribute></upc_attribute>
                <mpn_attribute></mpn_attribute>
                <brand_attribute></brand_attribute>
                <isbn_attribute></isbn_attribute>
                <ean_attribute></ean_attribute>
                <jan_attribute></jan_attribute>
                <asin_attribute></asin_attribute>
            </product_attribute_mappings>
            <checkout_comments>
                <enable_checkout_success>1</enable_checkout_success>
                <enable_product_detail>1</enable_product_detail>
                <columns>1</columns>
            </checkout_comments>
            <qa>
                <enable_qa>1</enable_qa>
                <enable_qa_teaser>1</enable_qa_teaser>
                <setup_type>dynamicEmbed</setup_type>
            </qa>
            <reviews>
                <enable_reviews>1</enable_reviews>
                <enable_reviews_teaser>1</enable_reviews_teaser>
                <reviews_setup_type>dynamicEmbed</reviews_setup_type>
            </reviews>
            <gallery>
                <enable_gallery>1</enable_gallery>
            </gallery>
            <product_feed>
                <enable_automatic_submission>1</enable_automatic_submission>
                <product_feed_url>http://static.www.turnto.com/static/export/</product_feed_url>
                <feed_submission_url>https://www.turnto.com/feedUpload/postfile</feed_submission_url>
            </product_feed>
            <historical_orders_feed>
                <enable_historical_feed>1</enable_historical_feed>
                <exclude_items_without_delivery_date>0</exclude_items_without_delivery_date>
            </historical_orders_feed>
        </turnto_socialcommerce_configuration>
    </default>
</config>

