<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * TurnTo_SocialCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2018 TurnTo Networks, Inc.
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="TurnTo\SocialCommerce\Logger\Handler\FileHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="TurnTo\SocialCommerce\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">turnto</argument>
            <argument name="handlers" xsi:type="array">
                <item name="file" xsi:type="object">TurnTo\SocialCommerce\Logger\Handler\FileHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Description">
        <plugin name="removeQuestionsTab" type="TurnTo\SocialCommerce\Plugin\Catalog\Block\Product\View\Description" />
    </type>
    <type name="Magento\Catalog\Block\Product\ReviewRendererInterface">
        <plugin name="turnto_socialcommerce_model_reviewrendererinterface_plugin" type="TurnTo\SocialCommerce\Plugin\Review\Block\Product\ReviewRenderer" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\Layer\Filter\Item\DataBuilder">
        <plugin name="turnto_socialcommerce_plugin_catalog_model_layer_filter_item_databuilder" type="TurnTo\SocialCommerce\Plugin\Catalog\Model\Layer\Filter\Item\DataBuilder" sortOrder="1" />
    </type>
    <type name="\Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="turnto_socialcommerce_plugin_add_sku_to_product_images" type="TurnTo\SocialCommerce\Plugin\Product\View\Type\Configurable" />
    </type>
    <preference for="Magento\Swatches\Controller\Ajax\Media" type="TurnTo\SocialCommerce\Controller\Ajax\Media"/>
</config>

