<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="TurnTo\SocialCommerce\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">turnto</argument>
            <argument name="handlers" xsi:type="array">
                <item name="file" xsi:type="object">TurnTo\SocialCommerce\Logger\Handler\FileHandler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Catalog\Block\Product\ReviewRendererInterface" type="TurnTo\SocialCommerce\Block\Product\ReviewRenderer" />
    <type name="Magento\Catalog\Block\Product\ReviewRendererInterface">
        <plugin name="turnto_socialcommerce_model_reviewrendererinterface_plugin" type="TurnTo\SocialCommerce\Model\ReviewRendererInterface\Plugin" sortOrder="1" disabled="false" />
    </type>
</config>

