<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Copyright © Emplifi, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Review\Block\Product\Review">
        <plugin sortOrder="1" name="turnToSocialCommerceReview" type="TurnTo\SocialCommerce\Plugin\Block\Product\ReviewPlugin"/>
    </type>
    <type name="Magento\Swatches\Helper\Data">
        <plugin name="turnto_socialcommerce_swatch_media_sku" type="TurnTo\SocialCommerce\Plugin\AddSkuToSwatchMediaPlugin" sortOrder="1" />
    </type>
</config>

