& when (@media-common = true) {
    #TTwriteReviewBtn.TT4writeReviewBtn.TTwriteReview {
        .lib-button-primary();
        .lib-link-as-button();
        &:before {
            content: 'Write a Review';
        }
        width: auto;
        height: auto;
        border-radius: @button__border-radius;
    }
}
